

/* HOME PAGECSS */
@font-face {
  font-family: Oslosans;
  src: url(./fonts/OsloSansRegular.ttf)
}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
 }


#bakgrunn {
  background-image: url("./photos/image.png");  
  background-size: 1400px;
  opacity: 100%;
  width: 100%;
  height: 100%;
  margin: 0px;
  position: absolute;

}




#valgmuligheter{
  display: grid;
  grid-template-columns: auto;
  position: absolute;
  z-index: 1;
  text-align: right;
  padding-left: 750px;
  padding-top: 100px

}


.button-19 {
  transition: 0s;
  border: none;
  background-color: transparent;
  font-size: 30px;
  padding: 5px;
  font-family: OsloSans;
  font-weight: 600;
  color: white;
}

.button-19:hover {
  text-decoration: underline;
}

/* tilbake knapp!! */
#tilbake {
  background-image: linear-gradient(#FFFFFF, #363636  );
  border: 0;
  border-radius: 4px;
  box-shadow: rgba(0, 0, 0, .3) 0 5px 15px;
  box-sizing: border-box;
  color: #222021;
  cursor: pointer;
  font-family: Montserrat,sans-serif;
  font-size: .9em;
  font-weight: bold;
  margin: 10px;
  padding: 10px 15px;
  text-align: center;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  text-decoration: none;
}
